{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %} {% endblock %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,700">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Montserrat:400,700">
    <link rel="stylesheet" href="{% static 'vendor/owl.carousel/assets/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/owl.carousel/assets/owl.theme.default.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" id="theme-stylesheet">
    {% block styles %}{% endblock %}
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}">
</head>
<body>
<!-- Navbar -->
<header class="header">
    <nav class="navbar navbar-expand-lg bg-dark">
        <div class="container">
            <a href="/" class="navbar-brand">
                WhatNext
                <img src="{% static 'img/logo.png' %}" alt="logo" class="d-none d-lg-block">
                <span class="sr-only">Home</span>
            </a>
            <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                    class="navbar-toggler navbar-toggler-right">
                Menu <i class="fa fa-bars"></i>
            </button>
            <div id="navbarSupportedContent" class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <!-- Home Link -->
                    <li class="nav-item active">
                        <a href="/" class="nav-link">Home <span class="sr-only">(current)</span></a>
                    </li>               
                    {% if request.user.is_authenticated %}
                    {% if request.user.role == 'employer' %}
                        <li class="nav-item dropdown">
                            <a id="clientZone" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">
                                <div class="client-menu-image">
                                    <div class="inner">
                                        {% if request.user.employer_profile.logo %}
                                            <img src="{{ request.user.employer_profile.logo.url }}" alt="Company Logo" class="img-fluid">
                                        {% else %}
                                            <img src="{% static 'img/Company-1-logo.png' %}" alt="Default Logo" class="img-fluid">
                                        {% endif %}
                                    </div>
                                </div>
                                {{ request.user.employer_profile.company_name }}
                            </a>
                            <div aria-labelledby="clientZone" class="dropdown-menu">
                                <a href="{% url 'jobs:employer-dashboard' %}" class="dropdown-item">Dashboard</a>
                                <a href="{% url 'jobs:employer-all-applicants' %}" class="dropdown-item">Applicants</a>
                                <a href="{% url 'jobs:employer-jobs-create' %}" class="dropdown-item">Post a new job</a>
                                <a href="{% url 'jobs:employer-profile' %}" class="dropdown-item">View Profile</a>
                                <a href="{% url 'jobs:employer-edit-profile' %}" class="dropdown-item">Edit Profile</a>
                                <a href="{% url 'accounts:logout' %}" class="dropdown-item">Logout</a>
                            </div>
                        </li>
                    {% elif request.user.role == 'candidate' %}
                        <li class="nav-item dropdown">
                            <a id="clientZone" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">
                                <div class="client-menu-image">
                                    <div class="inner">
                                        {% if request.user.candidate_profile.profile_pic %}
                                            <img src="{{ request.user.candidate_profile.profile_pic.url }}" alt="Employee image" class="img-fluid">
                                        {% else %}
                                            <img src="{% static 'img/default-candidate.jpg' %}" alt="Employee image" class="img-fluid">
                                        {% endif %}
                                    </div>
                                </div>
                                {{ request.user.candidate_profile.first_name }}
                            </a>
                            <div aria-labelledby="clientZone" class="dropdown-menu">
                                <a href="{% url 'accounts:candidate-profile' %}" class="dropdown-item">View Profile</a>
                                <a href="{% url 'accounts:candidate-profile-edit' %}" class="dropdown-item">Edit Profile</a>
                                <a href="{% url 'accounts:candidate-applications' %}" class="dropdown-item">Applications</a>
                                <a href="{% url 'accounts:logout' %}" class="dropdown-item">Logout</a>
                            </div>
                        </li>
                    {% endif %}                                                                   
                {% else %}
                    <li class="nav-item dropdown">
                        <a id="pages" href="#" data-toggle="dropdown" 
                           class="nav-link dropdown-toggle">
                            Register
                        </a>
                        <div aria-labelledby="pages" class="dropdown-menu">
                            <a href="{% url 'accounts:candidate-register' %}" class="dropdown-item">Candidate Sign-up</a>
                            <a href="{% url 'accounts:employer-register' %}" class="dropdown-item">Employer Sign-up</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'accounts:login' %}" class="btn navbar-btn btn-outline-light mb-5 mb-lg-0">
                            <i class="fa fa-sign-in"></i> Login
                        </a>
                    </li>
                {% endif %} 
                </ul>                
            </div>
        </div>
    </nav>
</header>
<div>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
    {% endif %}
    {% block content %} {% endblock %}
</div>
<footer class="footer">
    <div class="footer__top">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-12 mb-4">
                    <h4 class="footer-title">About</h4>
                    <p>WhatNext is dedicated to connecting job seekers with employers through our intuitive job board. Our platform offers a range of features to enhance the job search experience and help employers find the best talent. Discover your next opportunity or hire your next team member with ease.</p>
                </div>
                <div class="col-lg-4 col-md-12 mb-4">
                    <h4 class="footer-title">Contact</h4>
                    <div class="contact-info">
                        <p><strong>Email:</strong> support@whatnext.com</p>
                        <p><strong>Phone:</strong> +1 234 567 890</p>
                        <p><strong>Address:</strong> Kannur, Kerala - India</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 mb-4">
                    <h4 class="footer-title">Follow</h4>
                    <div class="footer__social">
                        <a href="https://www.facebook.com/whatnext" target="_blank" class="fab fa-facebook-f"></a>
                        <a href="https://www.twitter.com/whatnext" target="_blank" class="fab fa-twitter"></a>
                        <a href="https://www.instagram.com/whatnext" target="_blank" class="fab fa-instagram"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__bottom">
        <div class="container text-center">
            <p>&copy; WhatNext 2024. All rights reserved.</p>
        </div>
    </div>
</footer>

<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/popper.js/umd/popper.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'vendor/jquery.cookie/jquery.cookie.js' %}"></script>
<script src="{% static 'vendor/owl.carousel/owl.carousel.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap-select/js/bootstrap-select.min.js' %}"></script>
<script src="{% static 'js/front.js' %}"></script>
<script>
    window.addEventListener('scroll', function() {
  const header = document.querySelector('.header');
  if (window.scrollY > 50) {
    header.classList.add('scrolled');
  } else {
    header.classList.remove('scrolled');
  }
});
</script>

{% block javascripts %}{% endblock %}

</body>

</html>
