{% extends 'base.html' %}
{% load static %}

{% block title %}
    Applicants
{% endblock %}

{% block content %}
    <section class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h1 class="heading">All applicants</h1>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row">
                {% for applicant in applicants %}
                <div class="col-lg-6">
                    <div class="box applicant">
                        <!-- Display applicant's first name -->
                        <h4>{{ applicant.user.candidate_profile.first_name }}</h4>
                        <!-- Display applicant's email -->
                        <p><strong>Email: {{ applicant.user.email }}</strong></p> 
                        <!-- Display the job title the applicant applied for -->
                        <p><strong>Applied position: {{ applicant.job.title }}</strong></p>
                        <!-- Date of application -->
                        <p>
                        <span class="badge badge-info">Applied {{ applicant.created_at|date:"M d, Y H:i" }}</span>
                        </p>
                        <!-- Downloadable Resume -->
                        <h4>
                            <a href="{{ applicant.user.candidate_profile.resume.url }}" download="{{ applicant.user.candidate_profile.resume }}">
                                Download Resume
                            </a>
                        </h4>                    
                        <!--  Profile Picture -->
                        <div class="d-flex justify-content-between">
                            <div class="image">
                                {% if applicant.user.candidate_profile.profile_pic %}
                                    <img src="{{ applicant.user.candidate_profile.profile_pic.url }}" alt="Profile Picture"
                                         class="img-fluid rounded-circle">
                                {% else %}
                                    <img src="{% static 'img/avatar.png' %}" alt="Default Avatar"
                                         class="img-fluid rounded-circle">
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% empty %}
                <!-- Message if no applicants are found -->
                <div class="col-12">
                    <p>No applicants found.</p>
                </div>
            {% endfor %}            
            </div>
        </div>
    </section>
{% endblock %}
