{% extends 'base.html' %}
{% block title %}
    Applicants
{% endblock %}
{% load static %}

{% block content %}

<section class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h4 class="heading">Applicants for the <span class="accent">{{ job.title }}</span> position</h4>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            {% for applicant in applicants %}
            <div class="col-lg-6">
                <div class="box applicant">
                    <!-- Display applicant's first name -->
                    <h4>{{ applicant.user.candidate_profile.first_name }}</h4>
        
                    <!-- Display applicant's email -->
                    <p><strong>Email: {{ applicant.user.email }}</strong></p>  
                    
                    <!-- Display the job title the applicant applied for -->
                    <p><strong>Applied position: {{ applicant.job.title }}</strong></p>
        
                    <!-- Date of application -->
                    <p>
                        <span class="badge badge-info">Applied {{ applicant.created_at|date:"M d, Y H:i" }}</span>
                    </p>
        
                    <!-- Downloadable Resume -->
                    <h4>
                        <a href="{{ applicant.user.candidate_profile.resume.url }}" download="{{ applicant.user.candidate_profile.resume }}">
                            Download Resume
                        </a>
                    </h4> 
        
                    <!-- Profile Picture -->
                    <div class="d-flex justify-content-between">
                        <div class="image">
                            {% if applicant.user.candidate_profile.profile_pic %}
                                <img src="{{ applicant.user.candidate_profile.profile_pic.url }}" alt="Profile Picture"
                                     class="img-fluid rounded-circle">
                            {% else %}
                                <img src="{% static 'img/avatar.png' %}" alt="Default Avatar"
                                     class="img-fluid rounded-circle">
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% empty %}
            <!-- Message if no applicants are found -->
            <div class="col-12">
                <p>No applicants found.</p>
            </div>
        {% endfor %}        
        </div>
        
        <!-- Pagination -->
        {% if is_paginated %}
            <div class="row">
                <div class="col-md-12">
                    <nav aria-label="Page navigation example" class="d-flex justify-content-center mt-4 mb-4">
                        <ul class="pagination">
                            <!-- Previous page link -->
                            {% if page_obj.has_previous %}
                                <li class="page-item">
                                    <a href="?page={{ page_obj.previous_page_number }}" class="page-link" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                            {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                            {% endif %}
                            
                            <!-- Page numbers -->
                            {% for i in page_obj.paginator.page_range %}
                                {% if page_obj.number == i %}
                                    <li class="page-item active" aria-current="page">
                                        <span class="page-link">{{ i }}</span>
                                    </li>
                                {% else %}
                                    <li class="page-item">
                                        <a href="?page={{ i }}" class="page-link">{{ i }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                            
                            <!-- Next page link -->
                            {% if page_obj.has_next %}
                                <li class="page-item">
                                    <a href="?page={{ page_obj.next_page_number }}" class="page-link" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            </div>
        {% else %}
            <div class="row">
                <div class="col-12">
                    <p>You are at the end of the list.</p>
                </div>
            </div>
        {% endif %}
    </div>
</section>


{% endblock %}
